.directory
*.kate-swp
level.dat_old
session.lock
/advancements/
/data/*
!/data/map_*
/DIM-1/
/DIM1/
/dimensions/outer/the_past/
/dimensions/outer/the_present/
/entities/
/generated/
/playerdata/
/poi/
/region/
/stats/
